.container {
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: rgb(23, 77, 108);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#regform {
    margin: auto;
    display: none;
    width: 50%;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #fff;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

input {
    color: black;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

.inpimg {
    width: 45%;
    color: #fff;
}

.inpimg:focus,
.inpimg:valid {
    border: none;
}

form .category {
    display: flex;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 800px) {

    /* .container {
        width: 80%;
    } */
    .inpimg {
        width: 100%;
    }

    .from input {
        color: black;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    #regform {
        margin: none;
        display: none;
        width: 100%;
    }

}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}



/* STEPS */
.process .head {
    text-align: center;
    font-family: cambria;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}

.step {
    margin: auto;
    padding: 6px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(172, 200, 244);
    width: 50%;
}

.note {
    background-color: rgba(198, 221, 240, 0.472);
    font-family: cochin;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.process h1 {
    font-family: 'Times New Roman';
    color: rgb(111, 107, 110);
}

.bt {
    margin: auto;
    background-color: rgba(134, 190, 212, 0.986);
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    width: 220px;
    font-family: 'Times New Roman';
    font-size: 25px;
    color: #ffffff;
}

#QR {
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
}

@media(max-width: 800px) {
    #QR {
        width: 50%;
    }

    .step {
        width: 80%;
    }
    .note{
        font-size: medium;
        padding-left: 10px;
    }
}
