body {
	background-color: hsl(208deg 87% 97%);
}

.Events {
	background-color: rgb(23, 77, 108);
}

.position {
	position: relative;
}

#menulogo {
	display: none;
}
.bt{
	font-size: 50%;
	margin: auto;
    background-color: rgba(134, 190, 212, 0.986);
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    width: 220px;
    font-family: 'Times New Roman';
    color: #ffffff;
}
.Mainlogo {
	height: auto;
}

#regbtn {
	float: right;
}

#trylogo {
	margin: auto;
	width: 20%;
}

header {
	margin: auto;
	padding: 50px;
}

h1 {
	font-family: Algerian;
	text-align: center;
	color: rgba(224, 132, 89, 0.678);
	font-size: x-large;
}

h2 {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: x-large;
}

.heading1 {
	width: 100%;
	margin: auto;
	text-align: center;
	font-family: harrington;
	color: rgb(179, 113, 63);
	font-size: 100px;
	/* float: right; */
}

.heading2 {
	font-family: Algerian;
	text-align: center;
	color: rgba(224, 132, 89, 0.678);
	font-size: 100px;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.slider {
	height: 220px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 80%;

}

.slider .slide-track {
	-webkit-animation: scroll 10s linear infinite;
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(150px * 14);
	mask-repeat: repeat;
}

.slider .slide {
	height: 200px;
	width: 450px;
}

.slider .slide img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 2px solid #bbbbbb;
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 7));
	}
}

nav a {
	color: rgb(229, 236, 243);
}

@media (max-width: 800px) {
	.heading1 {
		font-size: 50px;
	}

	.heading2 {
		font-size: 50px;
	}

	#trylogo {
		margin: auto;
		width: 60%;
	}
}

nav {
	display: flexbox;
	height: 80px;
	width: 100%;
}

label.logo {
	font-size: 35px;
	font-weight: bold;
	color: white;
	margin-left: 5%;
	line-height: 80px;

}

nav ul {
	float: right;
	margin-right: 40px;
}

nav li {
	display: inline-block;
	margin: 0 8px;
}

nav a {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

a.active{
	border: 1px solid white;
	transition: .5s;
}

nav #icon {
	color: white;
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	display: none;
	position: relative;
}

@media (max-width:800px) {
	label.logo {
		font-size: 32px;
		padding: 0px 0px;
		margin-left: 5%;
	}

	nav ul {
		margin-right: 20px;
	}

	nav a {
		font-size: 17px;
	}
}

@media (max-width:800px) {
	#menulogo {
		display: block;
		height: 40px;
		margin-top: 20px;
		float: right;
	}
}