.main {
    margin: 0px;
    background-color: #000000;
}
.main2 {
    display: flex;
}
.main2-left {
    width: 25%;
    align-items: center;
    justify-content: center;
}

.main2-right {
    margin-top: 0px;
    width: 100%;
}

.main2-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main2-btn button {
    margin-left: 20px;
    /* height: 45px; */
    width: 25%;
}

.events {
    padding: 40px;
}

.cards {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    height: 4rem;
}

.card img {
    border: solid 3px goldenrod;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Single-event {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.SE-left {
    border-right: 4px solid silver;
    float: left;
    height: 400px;
    width: 39%;
}

.SE-left img {
    margin-left: 20%;
    width: 70%;
    border: solid 3px goldenrod;
}


.SE-right {
    float: right;
    height: auto;
    width: 60%;
}

.SE-text {
    color: #ffffff;
    margin-left: 10%;
    margin-top: 5px;
}

.SE-btn {
    float: right;
    margin-right: 15%;
}

.SE-right h1 {
    font-family: 'Times New Roman', Times, serif;
}
.SE-right h4 {
    font-family: 'Times New Roman', Times, serif;
}

b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.M {
    color: silver;
}
::-webkit-scrollbar {
    display: none;
}
.para {
    width: 80%;
    height: 200px;
    padding: 0%;
    overflow: scroll;
}

@media (max-width: 800px) {
    .banner {
        width: auto;
    }
    

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    #evnt {
        width: 70%;
    }

    .main2-left {
        display: none;
    }

    .main2-right {
        width: 100%;
    }

    .main2-btn button {
        width: 60%;
        margin-bottom: 10px;
        margin-left: 0px;
        font-size: small;
    }

    .main2-btn {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main2-left {
        font-size: small;
    }

    .Single-event {
        position: relative;
        align-items: center;
        justify-content: center;
        padding: none;
        margin: none;
    }

    .SE-left {
        border-right: none;
        width: 100%;
        margin: 0px;
        margin-bottom: 20%;
        padding: 0px;
        padding-top: 20px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .SE-left img {
        margin: 0px;
        width: 65%;
    }

    .SE-right {
        margin-left: 20%px;
        margin-right: 20%px;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 0px;
        height: auto;
    }

    .SE-btn {
        float: none;
        margin-top: 20px;
        margin-left: 33%;
        margin-bottom: 10%;

    }

}

:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}



button {
    appearance: none;
    background: transparent;
    border: 0;
    color: #000000;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    line-height: 1;
    padding: 1em 1.5em;
    position: relative;
    transition: filter var(--motion-duration);
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    filter: brightness(0.9);
}

button>span {
    display: block;
    position: relative;
    transition: transform var(--motion-duration) var(--motion-ease);
    z-index: 1;
}

button:hover>span {
    transform: scale(1.05);
}

button:active>span {
    transform: scale(0.95);
}

button>svg {
    fill: #f7f5f6;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
}

button>svg>path {
    transition: var(--motion-duration) var(--motion-ease);
}

button:hover>svg>path {
    d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
}

button:active>svg>path {
    d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
}

