:root {
    --c4: #50242e;
    --c1: #934351;
    --c6: #da6e7b;
    --c7: #bc6c81;
    --c7: #b86967;
    --c3: #f894c3;
    --c5: #dc8e88;
    --c2: #fad6ad;
    --c7: #b4b47c;
}

.main {
    background:#bc6c81;
    margin: 0px;
}

.banner {
    height: 270px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 600%;
    color:#934351;
    font-family: fantasy;
}

.search {
    height: 100px;
    background: #d4dbd6;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.search input {
    background-color: #396561;
    border: none;
    height: 55px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-radius: 0.2rem;
    background-color: var(--c1);
    transition: all 0.3s;
}

.search button {
    background: #2c5053;
    border: none;
    height: 55px;
}

.mobile-filter {
    display: none;
}

.flex {
    display: flex;
}

.main2 {
    display: flex;
}

.main2-left {
    width: 25%;
    /* height: 400px; */
    background:#bc6c81;
    align-items: center;
    justify-content: center;
}

.main2-left button {
    /* height: 50px; */
    width: 100px;
    border: none;
    margin-top: 40px;
    margin-left: 35%;
}

.main2-right {
    margin-top: 50px;
    width: 100%;
    background: #bc6c81;
}

.main2-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main2-btn button {
    margin-left: 20px;
    /* height: 45px; */
    width: 25%;
}

.filters {
    padding: 20px;
    width: 60%;
    margin-top: 40px;
    margin-left: 20%;
    border: 4px solid #2c5053;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.filters input {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px;
    border-color: azure;
    background: inherit;
}

.events {
    padding: 40px;
}

.cards {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: dodgerblue;
    color: white;
    padding: 0.5rem;
    height: 4rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    display: none;
    min-width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    z-index: 1;
    background-color: #5f927d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    height: 40px;
    padding-top: 10px;
    float: right;
}

.Single-event {
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.SE-left {
    border-right: 4px solid #50242e;
    float: left;
    height: 400px;
    width: 39%;
    background:#bc6c81;
}

.SE-left img {
    margin-left: 25%;
    /* margin-right: 15%; */
    margin-top: 15%;
}

.SE-right {
    padding-top: 5%;
    float: right;
    height: auto;
    width: 60%;
    background-color:#bc6c81;
}
.SE-text{
    color: #50242e;
    margin-left: 10%;
    margin-top: 5px;
}
.SE-btn{
    float: right;
    margin-right: 15%;
}
h1{
    font-family: fantasy;
}
b{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
.para{
    width: 80%;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0%;
}

@media (max-width: 800px) {
    .banner{
        width: auto;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .main2-left {
        display: none;
    }

    .main2-right {
        width: 100%;
        /* margin-left: 10px; */
    }

    .main2-btn button {
        width: 60%;
        margin-bottom: 10px;
        margin-left: 0px;
        font-size: small;
    }

    .main2-btn {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main2-left {
        font-size: small;
    }

    .search input {
        width: fit-content;
    }

    .mobile-filter {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .Single-event {
        align-items: center;
        justify-content: center;
        padding: none;
        margin: none;
    }
    .SE-left {
        border-right: none;
        background:#bc6c81;
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 20px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .SE-left img{
        margin: 0px;
    }
    .SE-right {
        margin-left: 20%px;
        margin-right: 20%px;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top:0px;
        height: auto;
        background-color:#bc6c81;
    }
    .SE-btn{
        float: none;
        margin-top: 20px;
        margin-left: 33%;
        margin-bottom: 10%;

    }

}

:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}



button {
    appearance: none;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    line-height: 1;
    padding: 1em 1.5em;
    position: relative;
    transition: filter var(--motion-duration);
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    filter: brightness(0.9);
}

button>span {
    display: block;
    position: relative;
    transition: transform var(--motion-duration) var(--motion-ease);
    z-index: 1;
}

button:hover>span {
    transform: scale(1.05);
}

button:active>span {
    transform: scale(0.95);
}

button>svg {
    fill: #50242e;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
}

button>svg>path {
    transition: var(--motion-duration) var(--motion-ease);
}

button:hover>svg>path {
    d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
}

button:active>svg>path {
    d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
}